
{{#each this}}
<li class="card" id={{id}}>
  <div class="category-image">
    <div class="category-image__background">
      <span class="category-image__icon">
        <i class="fa-solid fa-cart-shopping"></i>
      </span>
    </div>
    <p class="category-image__title">Shopping List</p>
  </div>

  <div class="field-cards">
    <ul class="field-cards__list">
      <li class="field-cards__item ">5/10/21</li>
      <li class="field-cards__item ">{{category}}</li>
      <li class="field-cards__item ">{{content}}</li>
      <li class="field-cards__item ">Time</li>
    </ul>
  </div>

  <ul class="card-button__list">
    <li class="card-button__item">
        <span class="card-button__icon"> <i class="fa-solid fa-pen fa-solid-hover" data-action="edit"></i></span>
    </li>
    <li class="card-button__item">
        <span class="card-button__icon">
          <i class="fa-solid fa-box-archive fa-solid-hover" data-action="archiving"></i
        ></span>
    </li>
    <li class="card-button__item">
        <span class="card-button__icon"> <i class="fa-solid fa-trash-can fa-solid-hover" data-action="remove"></i></span>
    </li>
  </ul>
</li>

{{/each}}