$body-background-color: linear-gradient(
  225deg,
  rgba(105, 184, 187, 1) 23%,
  rgba(241, 250, 238, 1) 100%
);
$body-font-color: black;
$body-font-family: 'Roboto', sans-serif;
//header
$header-background-color: #457b9d;
$header-font-color: white;
// modal
$modal-select-color: #fff;
$modal-select-background: #457b9d;
$modal-input-background: #457b9d;
$modal-select-height: 40px;
$modal-animation-duration: 250ms;
$modal-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$modal-title-color: white;
$modal-label-color: #ffffff;
$modal-background-color: linear-gradient(
  225deg,
  rgba(105, 184, 187, 1) 70%,
  rgba(241, 250, 238, 1) 100%
);
//todo list item
$todo-background-color: #e5e5e5;
$todo-background-image-color: #e63946;
$todo-background-icon-color: #7a7a7a;
$todo-hover-icon: #ffffff;
$todo-button-hover: #3a6587;
