<div class="card-wrapper">
  <div class="wrapper-icon">
    <div class="icon-background">
      <span style="font-size: 18px; color: white">
        <i class="fa-solid fa-cart-shopping"></i>
      </span>
    </div>
    <p class="card-name">Shopping List</p>
  </div>
  <p class="card-created">Data</p>
  <p class="card-category">Task</p>
  <p class="card-content">Tomatoes, milk...</p>
  <p class="card-data">5/10/21</p>

  <ul class="card-button__list">
    <li class="card-button__item">
      <button class="card-button__btn" type="button">
        <span class="card-button__wrapper-icon">
          <i class="fa-solid fa-pen fa-solid-hover"></i
        ></span>
      </button>
    </li>
    <li class="card-button__item">
      <button class="card-button__btn" type="button">
        <span class="card-button__wrapper-icon">
          <i class="fa-solid fa-box-archive fa-solid-hover"></i
        ></span>
      </button>
    </li>
    <li class="card-button__item">
      <button class="card-button__btn" type="button">
        <span class="card-button__wrapper-icon">
          <i class="fa-solid fa-trash-can fa-solid-hover"></i
        ></span>
      </button>
    </li>
  </ul>
</div>
