<div class="modal-box">
  <div class="modal-box__overlay"></div>

  <div class="modal-box__content">
    <div class="modal-box__wrapper-icon">
      <span class="modal-box___icon-exit">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>
    <h1 class="modal-box__title">Are you sure?</h1>
    <div class="wrapper-btn">
      <button class="button-item" type="button" data-action="confirm">Yes</button>
      <button class="button-item" type="button" data-action="cancel">No</button>
    </div>
  </div>
</div>
