<div class="header">
  <ul class="list-menu">
    <li class="list-menu__item">Name</li>
    <li class="list-menu__item">Created</li>
    <li class="list-menu__item">Category</li>
    <li class="list-menu__item">Content</li>
    <li class="list-menu__item">Modified</li>
  </ul>

  <ul class="button-list">
    <li class="button-list__item">
      <button class="button-list__button" data-action="create-item" type="button">
        <span class="button-list__icon">
          <i class="fa-solid fa-circle-plus fa-solid-hover"></i>
        </span>
      </button>
    </li>
  </ul>
</div>
