<div class="header-wrapper">
  <ul class="list-menu">
    <li class="list-menu__item">Name</li>
    <li class="list-menu__item">Created</li>
    <li class="list-menu__item">Category</li>
    <li class="list-menu__item">Content</li>
    <li class="list-menu__item">Dates</li>
  </ul>
  <ul class="button-list">
    <li class="button-list__item">
      <button class="button-list__button" type="button">
        <span style="font-size: 18px; color: white">
          <i class="fa-solid fa-box-archive fa-solid-hover"></i>
        </span>
      </button>
    </li>
    <li class="button-list__item">
      <button class="button-list__button" type="button">
        <span style="font-size: 18px; color: white">
          <i class="fa-solid fa-trash-can fa-solid-hover"></i>
        </span>
      </button>
    </li>
    <li class="button-list__item">
      <button class="button-list__button" type="button">
        <span style="font-size: 18px; color: white">
          <i class="fa-solid fa-circle-plus fa-solid-hover"></i>
        </span>
      </button>
    </li>
  </ul>
</div>
