<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox-content">
    <div class="lightbox-content__wrapper-icon">
      <span class="lightbox-conten___icon-exit" style="font-size: 20px; color: white">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>

    <h1>TEst</h1>
    <form class="form">
      <select id="mounth">
        <option value="hide">-- Month --</option>
        <option value="january">January</option>
        <option value="february">February</option>
        <option value="march">March</option>
        <option value="april">April</option>
        <option value="may">May</option>
        <option value="june">June</option>
      </select>

      <select id="year">
        <option value="hide">-- Year --</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
      </select>
    </form>
  </div>

  <!-- <button type="button" class="lightbox__button" data-action="close-lightbox"></button> -->
</div>
