<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox-content">
    <div class="lightbox-content__wrapper-icon">
      <span class="lightbox-content___icon-exit">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>

    <h1 class="lightbox-title">Create to do list</h1>

    <form class="form" autocomplete="off" novalidate>
      <div class="select">
        <select id="category" name="category">
          <option value="hide">--Category--</option>
          <option value="shopping list">Shopping List</option>
          <option value="new feature">New Feature</option>
          <option value="remind">Remind</option>
          <option value="goals">Goals</option>
        </select>
        <div class="select-styled">--Category--</div>
        <ul class="select-options">
          <li rel="hide">-- Category --</li>
          <li rel="shopping list">
            <span class="shopping-list__wrapper-icon">
              <i class="fa-solid fa-cart-shopping"></i> </span
            >Shopping List
          </li>
          <li rel="new feature">
            <span class="shopping-list__wrapper-icon">
              <i class="fa-solid fa-calendar-plus"></i>
            </span>
            New Feature
          </li>
          <li rel="remind">
            <span class="shopping-list__wrapper-icon">
              <i class="fa-solid fa-bell"></i>
            </span>
            Remind
          </li>
          <li rel="goals">
            <span class="shopping-list__wrapper-icon">
              <i class="fa-solid fa-bullseye"></i>
            </span>
            Goals
          </li>
        </ul>
      </div>
      <label for="objective">Objective </label>
      <input class="form-objective" name="objective" type="text" id="objective" />
      <label for="content">Content</label>
      <textarea class="form-content" name="content" id="content" rows="1"></textarea>

      <button class="submit-button" type="submit">Create</button>
    </form>
  </div>

  <!-- <button type="button" class="lightbox__button" data-action="close-lightbox"></button> -->
</div>
