<div class="vertical-wrapper">
  <p class="vertical-title">Menu</p>
  <ul class="vertical-btn-ls">
    <li class="vertical-btn-ls__item">
      <button class="vertical-btn-ls__button" type="button">
        <span class="vertical-btn-ls__icon">
          <i class="fa-solid fa-box-archive fa-todo-hover"></i>
        </span>
      </button>
    </li>
    <li class="vertical-btn-ls__item">
      <button
        id="removeAllBtn"
        class="vertical-btn-ls__button"
        type="button"
        data-action="removeAll"
      >
        <span class="vertical-btn-ls__icon">
          <i class="fa-solid fa-trash-can fa-todo-hover"></i>
        </span>
      </button>
    </li>
  </ul>
</div>
