.header {
  display: flex;
  outline: 1px solid white;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.list-menu {
  list-style: none;
  display: flex;
  padding: 0px;
}

.list-menu__item {
  &:not(:first-child) {
    margin-left: 160px;
  }
}

.button-list {
  list-style: none;
  display: flex;
}

.button-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.button-list__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-list__icon {
  font-size: 18px;
  color: white;
}
