$background: #e74c3c;
$select-color: #fff;
$select-background: #1b9bc5;
$select-width: 220px;
$select-height: 40px;
$animation-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity $animation-duration $timing-function;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(44, 44, 44, 0.8);
}

.lightbox-content__wrapper-icon {
  display: flex;
  justify-content: end;
}

.lightbox-content {
  padding: 20px;
  transform: scale(0.95);
  transition: transform $animation-duration $timing-function;
  outline: 1px solid white;
  border-radius: 5%;
}

.lightbox.is-open .lightbox-content {
  transform: scale(1);
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.select-styled {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active,
  &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 7px;
    border-top: 1px solid darken($select-background, 10);

    transition: all 0.15s ease-in;
    &:hover,
    &.is-selected {
      color: $select-background;
      background: $select-color;
    }
    &[rel='hide'] {
      display: none;
    }
  }
}

.js-open-list {
  display: block;
}

.select-options__item {
}

.shopping-list__wrapper-icon {
  font-size: 18px;
  color: white;
  margin-right: 10px;
}
