.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity $modal-animation-duration $modal-timing-function;
}

.lightbox--open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(44, 44, 44, 0.8);
  backdrop-filter: blur(5px);
}

.lightbox-content {
  position: relative;
  padding: 50px;
  transform: scale(0.95);
  transition: transform $modal-animation-duration $modal-timing-function;
  border-radius: 5px;
  background: $modal-background-color;
}

.lightbox-content__wrapper-icon {
  position: absolute;
  top: 12px;
  right: 16px;
}

.lightbox-content___icon-exit {
  font-size: 20px;
  color: white;
}

.lightbox.lightbox--open .lightbox-content {
  transform: scale(1);
}

.lightbox-title {
  text-align: center;
  color: $modal-title-color;
}

.select--hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $modal-select-color;
  height: $modal-select-height;
  margin-bottom: 20px;
  border-radius: 5px;
}

.select-field {
  border-radius: 5px;
}

.select-styled {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $modal-select-background;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
  border-radius: 5px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $modal-select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($modal-select-background, 2);
  }
  &:active,
  &.active {
    background-color: darken($modal-select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $modal-select-color transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($modal-select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 7px;
    border-top: 1px solid darken($modal-select-background, 10);

    transition: all 0.15s ease-in;
    &:hover,
    &.is-selected {
      color: $modal-select-background;
      background: $modal-select-color;
    }
    &[rel='hide'] {
      display: none;
    }
  }
}

.select-options--open {
  display: block;
}

.select-options__item {
}

.select-options__icon {
  font-size: 18px;
  color: white;
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-objective {
  margin-bottom: 20px;
  height: 40px;
  background-color: $modal-input-background;
  border: none;
  color: white;
  padding: 10px;
  transition: all 0.2s ease-in;
  border-radius: 5px;
}

.form-content {
  height: 160px;
  background-color: $modal-input-background;
  border: none;
  color: white;
  padding: 10px;
  resize: none;
  margin-bottom: 20px;
  transition: all 0.2s ease-in;
  border-radius: 5px;
}

.form-submit-button {
  height: 40px;
  border: none;
  background-color: $modal-input-background;
  color: white;
  border-radius: 5px;
  &:focus,
  &:hover {
    background-color: #235f85;
  }
}

.is-empty {
  border: 1px solid red;
}
